// font
$ff-sans-serif: 'PingFang TC', 'Microsoft JhengHei', 'Microsoft YaHei',
  sans-serif;

$ff-serif: 'Noto Serif TC', 'PingFang TC', 'Microsoft JhengHei',
  'Microsoft YaHei', serif;

// view-width
// view-height
$vw-dsk: 1920;
$vh-dsk: 1080;
$vw-mbl: 320;
$vh-mbl: 568;

// color
$c-p-1: #4a90e2;
$c-p-2: #50e3c2;
$c-p-3: #f8e71c;
// grey
$c-g-1: #000;
$c-g-2: #111;
$c-g-3: #222;
$c-g-4: #333;
$c-g-5: #444;
$c-g-6: #555;
$c-g-7: #666;
$c-g-8: #777;
$c-g-9: #888;
$c-g-10: #999;
$c-g-11: #aaa;
$c-g-12: #bbb;
$c-g-13: #ccc;
$c-g-14: #ddd;
$c-g-15: #eee;
$c-g-16: #fff;

$colors: (
  'fff': #fff,
  '000': #000,
  'p-1': $c-p-1,
  'p-2': $c-p-2,
  'p-3': $c-p-3,
  // grey
    'g-1': $c-g-1,
  'g-2': $c-g-2,
  'g-3': $c-g-3,
  'g-4': $c-g-4,
  'g-5': $c-g-5,
  'g-6': $c-g-6,
  'g-7': $c-g-7,
  'g-8': $c-g-8,
  'g-9': $c-g-9,
  'g-10': $c-g-10,
  'g-11': $c-g-11,
  'g-12': $c-g-12,
  'g-13': $c-g-13,
  'g-14': $c-g-14,
  'g-15': $c-g-15,
  'g-16': $c-g-16
);
